h1 {
    display: flex;
    justify-content: center;
    background-color: blanchedalmond;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;

}

.square{
    display: inline-block;
    flex-direction: column;
    width: 100px;
    height: 100px;
    background-color: aqua;
    border: 1px solid;
    ;

}

.stage{
    text-align: center;
}

.o {
    position: relative;
}

.o::after {
    position: absolute;
    content: "\26AB";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    font-size: 50px;
    
}
.x {
    position: relative;
}

.x::after {
    position: absolute;
    content: "✖️";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 100px;
    font-size: 50px;
    
}